/* Main Stylesheet */
/* Reset some default styling */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
  font-family: 'ITC Machine', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d3fa9;
}



/* Navigation Bar styling */
nav {
    background-color: #0d3fa9; /* Blue background color */
    padding: 10px;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #ffa903; /* Yellow text color */
    font-weight: bold;
}

a:hover {
    color: #ffa903; /* Yellow on hover */
}


/* Home/Search Page styling */
#home {
    text-align: center;
    padding: 40px;
}

h1 {
    color: #ffa903; /* yellow text color */
    padding: 50px;
    font-size: 4em;
}

h2 {

}

#search-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    color: #ffa903; /* yellow text color */
    font-size: 30px;
}

select,
input {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 60px;
    padding: 8px;
    flex: 1;
}

button {
    background-color: #ffa903; /* Yellow */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0d3fa9 ; /* Blue on Hover */
}

/* Movie Results styling */
#movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* Movie Detail Page styling */
#movie-detail {
    display: none; /* Hidden by default */
    text-align: center;
    padding: 40px;
}

#movie-detail h2 {
    color: #ffa903; /* Blue text color */
}

#movie-detail p {
    margin-bottom: 20px;
    color: #ffa903; /* Blue text color */
}

iframe {
    width: 100%;
    height: 315px;
    border: none;
}

/* Watched Movies Page styling */
#watched {
    display: none; /* Hidden by default */
    text-align: center;
    padding: 40px;
}

#watched h2 {
    color:#ffa903; /*Blue text color */
}

#watched-movies {
    list-style-type: none;
    padding: 0;
}

#watched-movies li {
    margin-bottom: 10px;
    color: #ffa903; /* Yellow text color */
}