/* Main Stylesheet */

/* Custom font */
@font-face {
    font-family: 'ITC Machine Medium';
    src: url('../assets/ITC\ Machine\ Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: medium;
}

/* Reset some default styling */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
  font-family: 'ITC Machine', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d3fa9;
  color: #ffa903;
}

/* Home/Search Page styling */
#home {
    text-align: center;
    padding: 40px;
}

h1 {
    font-family:  'ITC Machine Medium', fallback-font, sans-serif;
    transform: rotate(-5deg);
    color: #ffa903; /* yellow text color */
    padding: 20px 50px 30px 50px;
    font-size: 4em;
}

h2 {
    color: #ffa903; /* yellow text color */
    font-size: 1.5em;
    padding: 20px
}

h3 {
    color: #ffa903; /* yellow text color */
    font-size: 1.5em;
    padding: 20px, 20px, 10px, 20px;
}

h4 {
    font-size: 1.4em;
}

#search-panel {
    margin-top: 30px;
}

#genreFilter, #runtimeFilter, #ratingFilter {
    width: 200px; 
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

#excludeWatched {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}


label {
    color: #ffa903; /* yellow text color */
    font-size: 20px;
}

select,
input {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 60px;
    padding: 8px;
    flex: 1;
}

#note {
    font-size: 16;
    font-style: italic;
    margin-top: 20px;
}

#results-container {
    position: relative;
    max-height: 150px;
    overflow-y: auto;
    background-color: #ffa903;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

#results-container input{
    padding-left: 0px;
    padding-right: 0px;
}

#results-container a, #results-container a:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 80px;
    padding-right: 0px;
   
}

#results-container a:hover{
    color: #0d3fa9;
    font-weight: bold;
    text-decoration: underline;
}

#results-container a:active{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

/* Adding, styling the scrollbar track so that it is clear that the results container is a scrollable area */ 
#results-container::-webkit-scrollbar {
  width: 14px; /* Adjust the width of the scrollbar */

  background-color: #f5f5f5; /* The track color */
}

/* Styling the scrollbar thumb */
#results-container::-webkit-scrollbar-thumb {

  background-color: #0d3fa9; /* The thumb color */
  border-radius: 8px; 
  border: 3px solid #f5f5f5; 
}

/* Styling buttons container */
.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 20px;

    width: 100%;
    background-color: #0d3fa9;
    text-align: center;
    z-index: 1000; /* Ensure it's on top of the other page elements */
}

/* Styling for individual buttons */

button, button:visited {
    background-color: #ffa903; /* Yellow */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    font-size: 20px;
}

button:active {
    background-color: #0d3fa9 ; /* Blue on Hover */
}

button:hover {
    color:#0d3fa9;
}

/* Movie details card */
#movie-info-card {
    margin-bottom: 45px;
    justify-content: center;
}

#title {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: underline;
}

.movie-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.movie-poster {
    max-width: 200px;
}

.movie-details{
    max-width: 400px;
    text-align: left;
}

#videos-container iframe { 
    height: 400px;
    width: 60%;
}


/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: #0d3fa9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal h2{
    color: #0d3fa9;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA QUERIES - were determined by testing for various breakpoints in different viewports */
@media (max-width: 1250px) {
    #videos-container iframe { 
        width: 80%;
    }
}
@media (max-width: 848px)  {
    h1 {
        font-size: 3.6em;
        padding: 20px 35px 30px 35px;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.2em;
    }

    button {
        margin-top: 0px;
    }

    #results-container {
        max-height: 190px;
    }

    #videos-container iframe { 
        height: 350px;
        width: 90%;
    }
}

@media (max-width: 770px)  {
    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    #genreFilter, #runtimeFilter, #ratingFilter {
        margin-left: 5px;
        margin-right: 5px;
        width: 185px;
    }

    #results-container {
        font-size: 14px;
    }
} 

@media (max-width: 684px) {
    h1 {
        font-size: 3em;
        padding: 0px 25px 25px 25px;

    }

    h2 {
        font-size: 1.3em;
        padding: 15px;
    }

    h3 {
        padding: 0;
    }

    #dropdown-menus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #results-container {
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
    }

}

@media (max-width: 631px) {
    h1 {
        font-size: 2.8em;
        padding: 0px 17px 17px 17px;

    }

    #search-panel {
        margin-top: 17px;
    }

    #excludeWatched {
        margin-bottom: 15px;
    }

    #results-container {
        font-size: 13px;
    }

    #results-container a{
        padding-left: 60px;
    }

    .movie-content {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 549px) {
    #home {
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        font-size: 2.3em;
    }

    #search-panel {
        margin-top: 30px;
    }

    #excludeWatched {
        margin-bottom: 23px;
    }

    #videos-container iframe { 
        height: 200px;
        width: 80%;
    }
}

@media (max-width: 499px) {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.1em
    }

    label {
        font-size: 18px;
    }

    #results-container {
        line-height: 1.7;
    }    

    #results-container a{
        padding-left: 10px;
    }
}

@media (max-width: 376px) {
    #home {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #results-container {
        line-height: 1.7;
        max-height: 160px;
    }   

    #results-container a{
        font-size: 0.8em;
    }    

}


@media (max-height: 844px) {
    .buttons {
        position: relative;
        padding-bottom: 10px;
        margin-top: 15px;
    }

    button {
        padding: 15px;
        margin-top: 15px;
        margin-left: 2px;
        margin-right: 2px;
    }
}